<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Registry</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet"href="https://unpkg.com/dracula-ui@1.0.3/styles/dracula-ui.css"/>
</head>

<body>
<!-- navbar -->
  <header>
    <img class="nav_logo" src="/img/TechTrek_highres.png" alt="logo">
      <nav>
        <ul class="nav_links">
          <li><a href="#" id="toggleLink" class="drac-text">Home/Search</a></li>
          <li><a href="#" class="drac-text">My Trips</a></li>
          <li><a href="#" class="drac-text">Contact</a></li>
        </ul>
      </nav>
      <a href="#"><button>Login</button></a>
      <a href="#"><button>Sign Up</button></a>
  </header>




{{{body}}}




<!-- footer -->
  <footer>
    <div class="footer_logo"><img src="/img/TechTrek_lowres.png" alt="logo"></div>
      <ul class="list">
        <li><a href="#" class="drac-text">Home</a></li>
        <li><a href="#" class="drac-text">Contact</a></li>
        <li><a href="#" class="drac-text">Github</a></li>
      </ul>
  </footer>
</body>

</html>
<script>
    function homePage() {
      window.location.href = '/';
    }

    var link = document.getElementById("toggleLink");
link.addEventListener("click", function(event) {
  event.preventDefault(); // Prevent the default link behavior

  // Check the current page URL and toggle between the two URLs
  if (window.location.href === "http://localhost:3001/") {
    window.location.href = "http://localhost:3001/search";
  } else {
    window.location.href = "http://localhost:3001/";
  }
});
</script>
