<!-- general page container -->
<div class="container">
  <div class="container-content">
<!-- search bar -->
    <div id="container-search">
      <div id="container-searchBar">
        <label for="location-picker" id="searchText">Choose a State/City:</label>
        <select name="location-picker" id="location-picker">
          <optgroup label="States">
            <option value="Minnesota">Minnesota</option>
            <option value="Wisconsin">Wisconsin</option>
          </optgroup>
          <optgroup label="Cities">
            <option value="Maple Grove">Maple Grove</option>
            <option value="Green Bay">Green Bay</option>
          </optgroup>
        </select>
      </div>
      <span id="search-desc" class="drac-text drac-line-height drac-text-white">
        How to: Choose from our selection of states and the most 
        popular cities within.<br>Then just pick your dates and how many
        and we will do the rest! Happy planning.
      </span>
    </div>
<!-- date selection -->
    <div id="container-dates">
      <!-- start of date selection-->
      <div id="container-startDate">
        <label class="date-text" for="birthday">Start Date:</label>
        <input class="date" type="date" id="birthday" name="birthday">
      </div>
      <!-- end of date selection-->
      <div id="container-endDate">
        <label class="date-text" for="birthday">End Date:</label>
        <input class="date" type="date" id="birthday" name="birthday">
      </div>
    </div>
<!-- quantity selection -->
    <div id="container-quantity">
      <span id="quantity-text" class="drac-text drac-line-height drac-text-white">How many ideas:</span>
      <input type="text" name="quantity" id="quantity-box" value="Enter a number">
    </div>
<!-- search button -->
    <div id="container-getResults">
      <div id="container-butSearch">
          <button id="butSearch" class="drac-bg-animated">- - Search - -</button>
      </div>
      <span id="butSearch-desc" class="drac-text drac-line-height drac-text-white">Please Note: We will attempt to gather how
          many results you want to view, but we cannot garentee we
          will find the amount or the last few results to be certian.
      </span>
    </div>
  </div>
</div>

<script>
  console.log('hit1')
  document.getElementById("butSearch").addEventListener("click", function() {
    const location = document.getElementById("location-picker").value;
    //const startDate = document.getElementById("start-date").value;
    //const endDate = document.getElementById("end-date").value;
    const quantity = document.getElementById("quantity-box").value;

    const data = {
      location: location,
      //startDate: startDate,
      //endDate: endDate,
      quantity: quantity
    };

    fetch('/api/gpt', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(data)
    })
  
    .then(response => {
      console.log(response)
      if (response.ok) {
window.location.href='/search'
        console.log('Request successful');
        // Process the response or perform any desired actions
      } else {
        console.error('Request failed');
      }
    })
    .catch(error => {
      console.error('Request error:', error);
    });
  });

</script>

